<div class="container">

    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Salary</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.position}}</td>
                <td>{{user.office}}</td>
                <td>{{user.salary}}</td>
                <td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
                    <button class="btn btn-primary" (click)="updateUser(user)">Edit</button></td>

            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="newUser()">New User</button>
</div>